@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {

   font-size: 62.5%;

}

body {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: $color-primary;
  position: relative;
  @media screen and (max-width: 500px) {
   flex-direction: column;
   flex: 1;
}
}

.wrapper {
   position: absolute;
   height: 100vh;
   width: 100%;
   overflow: hidden;
}
.bg--top {
   position: absolute;
   top: -60%;
   right: 50%;
}
.bg--bottom {
   position: absolute;
   bottom: -70%;
   left: 50%;
}
.center {
   text-align: center;
}