

$font-family--primary: 'Kumbh Sans', sans-serif;
$font-size--primary: 1.8rem;
//$color-primary: #00ffff;
$color-primary: #189aa8;
$color-primary--dark: #2d3248;
$color-primary--light: #6a6f81;
$color-grey: #969696;
$color-white: #ffffff;
$color-black: #222;

